# Logs
logs
*.log
*.log*
*.env
.env
*.lock
yarn.lock
package-lock.json
.yarn-integrity
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist

# Firebase
firebase.json
firebase-debug.logs
firestore.rules
firestore.indexes.json
storage.rules
.firebaserc